{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About{% endblock %}

{% block body_block %}
	<button id="about-btn"> Click Me - I'm Javascript on Speed</button>
	<p>This is a example</p>
	<p>This is another example</p>
	<div id="msg">Hello</div>
	<br><br>
	<p>This page already received {{ visits }} visits.</p>
	<a href="{% url 'index' %}">Voltar</a><br />
	<div class="page-header">
		<h1>About Rango!</h1>
	</div>
	<h4>{{ about_message }}</h4><br />
	<img src="{% static "/media/rango.jpg" %}" alt="Picture of Rango" />
{% endblock %}